.card{
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #f5f5f5;
  width: 400px;
  padding: 20px;
  color: #fff;
  background: #2b2b2b ;
  box-sizing: border-box;
}
.wrap-img{
  height: 512px;
  width: 360px;
}