.container{
  min-width: 320px;
  max-width:1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header{
  background: #2b2b2b;
  border-bottom: 10px solid #585858;
}
.clearfix::after{
  clear: both;
  content: "";
  display: table;
}
.logo{
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  float: left;
  padding: 10px 0 10px 43px;
  margin: 10px 0;
}
.main-nav {
  margin-left: 297px;
}
.main-nav a{
  display: inline-block;
  padding: 30px 27px 28px 29px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}
.main-nav a:hover {
  background:  #585858;
}
.nav-search {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
  padding-left: 72px;
}
.search {
  width: 100%;
  height: 30px;
  font-size: 16px;
}
.block-button {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
}
.btn {
  font-size: 22px;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  border: 1px solid #6b6363;
}
.btn:hover {
  background: #585858;
}

.content-flex{
  float: left;
  width: 60%;

}
.card{
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #f5f5f5;
  padding: 20px;
  color: #fff;
  background: #2b2b2b ;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}
.sidebar {
  width: 40%;
  float: right;
  border: 1px solid #E9ECEF;
  min-height: 600px;
  box-sizing: border-box;
  text-align: center;
}
.nav-link {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-link li{
  font-size: 25px;
  padding: 10px 0;
  border-bottom: 1px solid #E9ECEF;
}
.nav-link li a {
  display: block;
  padding: 10px 0;
  font-size: 24px;
  text-decoration: none;
  color: #495057;
}
.nav-link li:hover {
  background: #E9ECEF;
}
.wrap-img{
  height: 512px;
  width: 360px;
}
.footer {
  background: #2b2b2b;
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  font-size: 22px;
}


